{{velocity}}

## This will only be visible to users that have super admin rights on this document
 {{html}}
 <h1 style="text-align:center;"><b> Formular de inscriere </b></h1>
 <br/>

   <table>
     <tr>
         <td>Nume</td>
         <td>$user.getNume()</td>
     </tr>
     <tr>
         <td>Prenume</td>
         <td>$user.getPrenume()</td>
     </tr>
     <tr>
         <td>Nr. matricol</td>
         <td>$user.getNrMatricol()</td>
     </tr>
     <tr>
         <td>Email</td>
         <td>$user.getEmail()</td>
     </tr>
     <tr>
         <td>Nume licenta</td>
         <td>$user.getNumeLicenta()</td>
     </tr>
     <tr>
         <td>Link extern catre cod</td>
         <td>$user.getLink()</td>
     </tr>
     <tr>
         <td>Indrumator</td>
         <td>$user.getIndrumator()</td>
     </tr>
     <tr>
         <td>Prima materie</td>
         <td>$user.getMaterie1()</td>
     </tr>
     <tr>
         <td>A doua materie</td>
         <td>$user.getMaterie2()</td>
     </tr>
     <tr>
         <td>Data examenului</td>
         <td>$user.getDataExamen()</td>
     </tr>
   </table>
{{/html}}

#*
  Daca a fost apasat butonul de submit

  $user.setNume(...)
  $user.setPreume(...)
  $user.setNrMatricol(...)
*#

{{/velocity}}
